<head>
<link rel="stylesheet" type="text/css" href="rateit.css">

<script type="text/javascript" src="jquery.raty.js"></script>
</head>

 <h1> Web Development Bootcamps </h1>

<table>
  <thead>
    <tr>
      <th>Bootcamp</th>
      <th><strong>Name</strong></th>
      <th>Location</th>
      <th>Focus</th>
      <th>Length</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><img width='50' height='50' src= <%= school.picture_url %></></td>
        <td><div class="rateit"></div></td>
        <td><%= school.name %></td>
        <td><%= school.location %></td>
        <td><%= school.focus %></td>
        <td><%= school.length %></td>
        <td>$<%= number_with_delimiter(school.cost, :delimiter => ',') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />