<h1> Web Development Bootcamps </h1>

<table>
  <thead>
    <tr>
      <th>Bootcamp Name</th>
      <th>Rating</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.picture_url %></td>
        <td><%= school.name %></td>
        <td><%= school.location %></td>
        <td><%= school.focus %></td>
        <td><%= school.length %></td>
        <td><%= school.cost %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />